@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  transition: 0.3s linear all;
  font-family: Arial, Helvetica, sans-serif;
}
